extends  layout_main

block main_styles
    link(rel='stylesheet' href='/css/layout_logged.css')
    block styles

block main_layout
    ul#user-dropdown.dropdown-content
        li
            a(href='/profile') My Profile
                i.material-icons perm_identity
        li
            a(href='logout') Logout
                i.material-icons power_settings_new

    nav(role='navigation').light-blue.lighten-1
        div.nav-wrapper.container
            a(href='/')#logo-container.brand-logo Matcha
            ul.right.hide-on-med-and-down
                li
                    a(href='#!' data-activates="user-dropdown").dropdown-button.valign-wrapper
                        if (profileImage = user.getMeta('profile-image'))
                            div.profile-image(style='background-image: url(/images_upload/' + profileImage.value + ')')
                        =user.getMeta('firstname').value + ' ' + user.getMeta('lastname').value
                        i.material-icons.right arrow_drop_down

    div.container
        main
            include flash
        block content

block main_scripts
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script.
        var socket = io.connect();
    script(type='text/javascript' src='/js/logged.js')
    block scripts


