extends partials/layout_not_logged

block content
    h5.indigo-text.center.text-accent-4 Please, login into your account
    div.row
        div.z-depth-1.grey.grey.lighten-4.row.col.m4.offset-m4.s12.form-container
            form(action='/login' method='post').col.s12
                div.row
                    div.input-field.col.s12
                        input(type='email' name='email' required).validate
                        label Email adress
                div.row
                    div.input-field.col.s12
                        input(type='password' name='password' required).validate
                        label Password
                        div.right
                            a(href='/forget').pink-text Forgot password ?
                div.row
                    div.col.s12.center
                        button(type='submit').col.s12.btn.waves-effect.waves-light.btn-large LOGIN
        div.col.s12.center
            a(href='/register') Create account

block scripts
    script.
        validateForm(!{JSON.stringify(locals.formInputs)}, !{JSON.stringify(locals.formErrors)});