extends partials/layout_not_logged

block content
    h5.indigo-text.center.text-accent-4 Forgot password ?
    div.row
        div.z-depth-1.grey.grey.lighten-4.row.col.m4.offset-m4.s12.form-container
            form(action='/forget' method='post').col.s12
                div.row
                    p.col.s12.grey-text.flow-text Enter your email address and you will be sent instructions on how to reset your password.
                div.row
                    div.input-field.col.s12
                        input(type='email' name='email' required).validate
                        label Email adress
                div.row
                    div.col.s12
                        button(type='submit').col.s12.btn.waves-effect.waves-light.btn-large Reset password
        div.col.s12.center
            a(href='/login') You already know your password ?

block scripts
    script.
        validateForm(!{JSON.stringify(locals.formInputs)}, !{JSON.stringify(locals.formErrors)});