extends layout

block content
    div.row
        div.col.xl6.push-xl3.x8.push-x2.s10.push-s1.center.card-panel.forget
            div.row
                div.col.s12
                    h3 Forgotten your password ?
            div.row
                form(action='/forget' method='post').col.s12
                    div.row
                        div.input-field.col.s12
                            input(type='email' name='email' required).validate
                            label Here is my email to reset my super strong password
                    div.row
                        div.col.s12
                            button(type='submit').btn.waves-effect.waves-light.btn-large.btn-block Reset password
                                i.material-icons.right send

block scripts
    script.
        validateForm(!{JSON.stringify(locals.formInputs)}, !{JSON.stringify(locals.formErrors)});