extends layout

block content
    div.row
        div.col.xl6.push-xl3.x8.push-x2.s10.push-s1.center.card-panel.reset
            div.row
                div.col.s12
                    h3 Password reset
            div.row
                form(action='',  method='post').col.s12
                    input(type='hidden' name='token' value=token)
                    div.row
                        div.input-field.col.s12
                            input(type='password' name='password' required).validate
                            label My new super strong password
                    div.row
                        div.input-field.col.s12
                            input(type='password' name='passwordConf' required).validate
                            label My new super strong password again, to be sure
                    div.row
                        div.col.s12
                            button(type='submit').btn.waves-effect.waves-light.btn-large.btn-block Submit
                                i.material-icons.right send

block scripts
    script.
        validateForm(!{JSON.stringify(locals.formInputs)}, !{JSON.stringify(locals.formErrors)});