extends partials/layout_not_logged

block content
        h4.indigo-text.center.text-accent-4 Register to Matcha !
        div.row
            div.z-depth-1.grey.lighten-4.row.col.m6.offset-m3.s12.form-container
                form(method='post').col.s12
                    div.row
                        div.input-field.col.m6.s12
                            select(name='sex' required)
                                option(value='woman') I am a woman
                                option(value='man') I am a man
                        div.input-field.col.m6.s12
                            select(name='orientation' required)
                                option(value='man') who love mans
                                option(value='woman') who love womans
                                option(value='bi') who love everyone
                    div.row
                        div.input-field.col.m6.s12
                            input(type='text' name='firstname' required).validate
                            label My first name is
                        div.input-field.col.m6.s12
                            input(type='text' name='lastname' required).validate
                            label and my last name is
                    div.row
                        div.input-field.col.s12
                            input(type='date' name='birthday' required).datepicker-birthday
                            label i am born the
                    div.row
                        div.input-field.col.s12
                            input(type='email' name='email' required).validate
                            label Here is my email to contact me if needed
                    div.row
                        div.input-field.col.s12
                            input(type='password' name='password' required).validate
                            label My super strong password to protect me
                    div.row
                        div.input-field.col.s12
                            input(type='password' name='passwordConf' required).validate
                            label My super strong password again, to be sure
                    div.row
                        div.col.s12.center
                            button(type='submit').col.s12.btn.waves-effect.waves-light.btn-large REGISTER
            div.col.s12.center
                a(href='/login') Already registered ?

block scripts
    script.
        validateForm(!{JSON.stringify(locals.formInputs)}, !{JSON.stringify(locals.formErrors)});

