extends partials/layout_not_logged

block content
        h4.indigo-text.center.text-accent-4 Register to Matcha !
        div.row
            div.z-depth-1.grey.lighten-4.row.col.m6.offset-m3.s12.form-container
                form(method='post').col.s12
                    div.row
                        div.input-field.col.m6.s12
                            select(name='sex' required)
                                option(value='woman') I am a woman
                                option(value='man') I am a man
                        div.input-field.col.m6.s12
                            select(name='orientation' required)
                                option(value='man') who love men
                                option(value='woman') who love women
                                option(value='bi') who love everyone
                    div.row
                        div.input-field.col.m6.s12
                            input(type='text' name='firstname' required).validate
                            label First name
                        div.input-field.col.m6.s12
                            input(type='text' name='lastname' required).validate
                            label Last name
                    div.row
                        div.input-field.col.s12
                            input(type='date' name='birthday' required).datepicker-birthday
                            label Birthday
                    div.row
                        div.input-field.col.s12
                            input(type='email' name='email' required).validate
                            label Email address
                    div.row
                        div.input-field.col.s12
                            input(type='password' name='password' required).validate
                            label Password - At least 1 uppercase and 1 number
                    div.row
                        div.input-field.col.s12
                            input(type='password' name='passwordConf' required).validate
                            label Password confirmation
                    div.row
                        div.col.s12.center
                            button(type='submit').col.s12.btn.waves-effect.waves-light.btn-large REGISTER
            div.col.s12.center
                a(href='/login') Already registered ?