body {
    background-color: #fff  ;
}

.form-container {
    display: inline-block !important;
    padding: 32px 48px 0 48px !important;
    border: 1px solid #EEE !important;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #304ffe;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #304ffe;
    box-shadow: none;
}
