<div class="col-md-4 col-md-offset-4 registration">
    <h2>Register to Matcha !</h2>
    <form #form="ngForm">
        <!--<div class="row">
            <div class="col-md-12 text-center">
                I am
                <md-select placeholder="a robot" floatPlaceholder="never" required name="sex" [(ngModel)]="model.sex" #sex="ngModel">
                    <md-option [value]="woman">a woman</md-option>
                    <md-option [value]="man">a man</md-option>
                </md-select>
                seeking
                <md-select placeholder="a robot" floatPlaceholder="never" required name="orientation" [(ngModel)]="model.orientation" #orientation="ngModel">
                    <md-option [value]="woman">a woman</md-option>
                    <md-option [value]="man">a man</md-option>
                </md-select>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-6">
                <md-input-container>
                    <input type="text" mdInput id="firstname" placeholder="Firstname" [(ngModel)]="model.firstname" required name="firstname" #firstname="ngModel">
                    <md-error>Firstname is required.</md-error>
                </md-input-container>
            </div>
            <div class="col-md-6">
                <md-input-container>
                    <input type="text" mdInput id="lastname" placeholder="Lastname" [(ngModel)]="model.lastname" required name="lastname" #lastname="ngModel">
                    <md-error>Lastname is required.</md-error>
                </md-input-container>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-12">
                <md-input-container>
                    <input mdInput type="email" id="name" placeholder="Email adress" [(ngModel)]="model.email" required name="email" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" #email="ngModel">
                    <md-error>Email adress is required.</md-error>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <md-input-container>
                    <input type="password" mdInput type="password" placeholder="Password" [(ngModel)]="model.password" required name="passowrd" #password="ngModel">
                    <md-error>Password is required.</md-error>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <md-input-container>
                    <input type="passwordConf" mdInput type="password" placeholder="Password Confirmation" [(ngModel)]="model.passwordConf" required name="passowrdConf" appValidateEqual="password" #passwordConf="ngModel">
                    <md-error>Password confirmation is required.</md-error>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" md-raised-button [disabled]="!form.valid">
                    <md-icon>keyboard_arrow_right</md-icon>
                    Register !
                </button>
            </div>
        </div>
    </form>
</div>
